SMARTTRAFFIC_BACKEND_ENV_FILE=/opt/smarttrafficflow/env/backend.env
SMARTTRAFFIC_FRONTEND_ENV_FILE=/opt/smarttrafficflow/env/frontend.env
SMARTTRAFFIC_DATA_DIR=/opt/smarttrafficflow/data
SMARTTRAFFIC_DB_USER=postgres
SMARTTRAFFIC_DB_PASSWORD=password
SMARTTRAFFIC_DB_NAME=smarttrafficflow
SMARTTRAFFIC_DB_PORT_BIND=127.0.0.1:5432
SMARTTRAFFIC_PGADMIN_EMAIL=admin@admin.com
SMARTTRAFFIC_PGADMIN_PASSWORD=password
SMARTTRAFFIC_PGADMIN_PORT_BIND=127.0.0.1:8100
